{{ define "main" }}
    <!---------- PAGE HEADER ---------->
    <header class="page-header" aria-labelledby="page-heading">
        <div>
            <div class="section-label">{{ i18n "media_page_section_label" | safeHTML }}</div>
            <h1 id="page-heading">{{ i18n "media_page_h1" | safeHTML }}</h1>
        </div>
        <div>
            <p>
                {{ i18n "media_page_p" | safeHTML }}
            </p>
        </div>
    </header>
    
    <!---------- VIDEOS ---------->
    <section class="media-section">
        <div class="media-section-item">
            <h2 class="video-title">
                {{ i18n "video_title_1" | safeHTML }}
            </h2>
            {{ partial "youtube-facade.html" (dict "id" "OYH0uy2W0JA" "title" (i18n "video_title_1" | safeHTML)) }}
        </div>

        <div class="media-section-item">
            <h2 class="video-title">
                {{ i18n "video_title_2" | safeHTML }}
            </h2>
            {{ partial "youtube-facade.html" (dict "id" "aJWKnZby55g" "title" (i18n "video_title_2" | safeHTML)) }}
        </div>

        <div class="media-section-item">
            <h2 class="video-title">
                {{ i18n "video_title_3" | safeHTML }}
            </h2>
            {{ partial "youtube-facade.html" (dict "id" "gWPnDzO8078" "title" (i18n "video_title_3" | safeHTML)) }}
        </div>
    </section>
{{ end }}