<!---------- FOOTER ---------->
<footer>
    {{ if not .Params.hasContactSection }}
        {{ partial "contact-details.html" . }}
    {{ end }}
    <div class="footer-socials">
        <a href="https://youtube.com/@smartriskpln7981" class="socials-item-icon youtube-icon"></a>
        <a href="https://facebook.com/smartrisk.pln" class="socials-item-icon facebook-icon"></a>
        <a href="https://instagram.com/smartrisk.pln" class="socials-item-icon instagram-icon"></a>
        <a href="https://linkedin.com/company/smartriskpln" class="socials-item-icon linkedin-icon"></a>
    </div>
    <span class="footer-logo">
        <picture>
            <source srcset="{{ "assets/images/smartrisk_white.webp" | relURL }}" type="image/webp" />
            <img src="{{ "assets/images/smartrisk_white.png" | relURL }}" alt="SmartRisk footer logo" />
        </picture>
    </span>
    <p>
        © 2026 PT Solusi Manajemen Risiko Terintegrasi. {{ i18n "footer_copyright" | safeHTML }}
    </p>
    <p>
        <a href="https://smartrisk-pln.com" style="color:inherit">smartrisk-pln.com</a>
    </p>
</footer>

<!-- js files in static/assets/js/
<script src="{{ "assets/js/main.js" | relURL }}" defer></script>
-->
<!-- js files in assets/assets/js -->
{{ $js := resources.Get "assets/js/main.js" | resources.Minify }}
<script src="{{ $js.RelPermalink }}"></script>