/* -----------------------------------------------------
   ---------- SmartRisk - Contact Page Styles ----------
   ----------------------------------------------------- */

.contact-page {
    display                 : grid;
    grid-template-columns   : 1fr 1fr;
    min-height              : calc(100vh - 80px);
}


/*---------- LEFT PANEL ----------*/
.contact-info-panel {
    background      : var(--ink);
    color           : var(--paper);
    padding         : 3rem 3rem;
    display         : flex;
    flex-direction  : column;
}
.contact-info-panel .section-label {
    opacity     : 0;
    animation   : fadeUp 0.5s 0.1s forwards;
}
.contact-info-panel h1 {
    color       : var(--paper);
    font-size   : clamp(2.5rem, 4vw, 4rem);
    opacity     : 0;
    animation   : fadeUp 0.5s 0.2s forwards;
}
.contact-info-panel h1 em {
    color       : var(--accent);
    opacity     : 0;
    animation   : fadeUp 0.5s 0.2s forwards;
}
.contact-info-panel p {
    color       : var(--hero-text-p);
    margin-top  : 1rem;
    line-height : 1.75;
    max-width   : 380px;
    opacity     : 0;
    animation   : fadeUp 0.5s 0.3s forwards;
}
.contact-details {
    padding-top     : 4rem;
    padding-bottom  : 2rem;
    padding-left    : 0rem;
    display         : flex;
    flex-direction  : column;
    gap             : 1.75rem;
    opacity         : 0;
    animation       : fadeUp 0.5s 0.3s forwards;
}
.contact-item {
    display     : flex;
    gap         : 1rem;
    align-items : flex-start;
}
/* .contact-item-icon {
    font-size   : 1rem;
    margin-top  : 0.2rem;
    opacity     : 0.4;
    flex-shrink : 0;
    width       : 1.25rem;
    text-align  : center;
    color       : var(--footer-text);
} */
.contact-item-icon {
    width           : 1.2rem;
    height          : 1.2rem;
    flex-shrink     : 0;
    background-color: var(--accent);

    mask-size       : contain;
    mask-repeat     : no-repeat;
    mask-position   : center;

    -webkit-mask-size       : contain;
    -webkit-mask-repeat     : no-repeat;
    -webkit-mask-position   : center;
}
.location-icon {
    mask-image          : url('../icons/location-pin-icon.svg');
    -webkit-mask-image  : url('../icons/location-pin-icon.svg'); 
}
.phone-icon {
    mask-image          : url('../icons/phone-icon.svg');    
    -webkit-mask-image  : url('../icons/phone-icon.svg');
}
.mail-icon {
    mask-image          : url('../icons/mail-icon.svg');    
    -webkit-mask-image  : url('../icons/mail-icon.svg');
}
.contact-item-text {
    color       : var(--footer-text);
    font-size   : 0.9rem;
    line-height : 1.6;
    opacity     : 0.7;
    text-align  : left;
}
.contact-item-text strong {
    display         : block;
    font-weight     : 500;
    color           : var(--paper);
    margin-bottom   : 0.1rem;
}
.contact-item-text span { display: block; }


/*---------- RIGHT PANEL ----------*/
.contact-form-panel {
    padding         : 3rem 3rem;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-self      : flex-start;
}
.contact-form-panel h2 { margin-bottom: 2rem; }

.form-dark label {
    display         : block;
    font-size       : 0.68rem;
    letter-spacing  : 0.12em;
    text-transform  : uppercase;
    color           : var(--muted);
    margin-bottom   : 0.45rem;
}
.form-dark input,
.form-dark select,
.form-dark textarea {
    width       : 100%;
    background  : var(--cream);
    border      : 1px solid var(--rule);
    color       : var(--ink);
    padding     : 0.85rem 1rem;
    font-size   : 0.9rem;
    font-family : 'DM Sans', sans-serif;
    outline     : none;
    transition  : border-color 0.2s;
}

/* override default styling for <select> elements */
.form-dark select {
    appearance          : none;
    -webkit-appearance  : none;
    background-image    : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%236b6560' stroke-width='1.5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat   : no-repeat;
    background-position : right 1rem center;
    padding-right       : 2.5rem;
}
.form-dark select:hover {
    border-color        : var(--accent-hover);
    background-image    : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%233d9a1c' stroke-width='1.5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
}

.form-dark input:hover, 
.form-dark textarea:hover {
    border-color        : var(--accent-hover);
}

.form-dark select:focus {
    border-color        : var(--accent);
    background-image    : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%235abd2c' stroke-width='1.5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
}
.form-dark input:focus,
.form-dark textarea:focus { border-color: var(--accent); }
.form-dark textarea { 
    resize      : vertical; 
    min-height  : 400px; 
}


/*---------- TABLET ----------*/
@media (max-width: 1100px) {
    .contact-page { grid-template-columns: 1fr; }
    .contact-info-panel,
    .contact-form-panel { padding: 5rem 1.5rem; }
    .contact-info-panel iframe {
        width   : 24rem;
        height  : 18rem;
    }
}


/*---------- MOBILE ----------*/
@media (max-width: 780px) {
    .contact-info-panel iframe {
        width   : 20rem;
        height  : 15rem;
    }
}